<div>
  <div>
    <h1>
      List of all recipes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new recipe
    </h2>

    <form action="/insert_recipe" method="post">
      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo" placeholder="Enter a photo_URL">
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id%>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="Text" id="name_box" name="query_name" placeholder="Enter a recipe name...">
      </div>

      <div>
        <label for="details_box">
          Details
        </label>

        <textarea type="text" id="details_box" name="query_details" cols="20" rows="12"></textarea>
      </div>

      <div>
        <label for="food_categories_box">
          Food categories
        </label>

        <select id="food_categories_box" name="query_food_categories">
          <option>Pastries</option>
          <option>Soup</option>
          <option>Pasta</option>
          <option>Pizza</option>
          <option>Stew</option>
          <option>Salad</option>
        </select>

      </div>

      <button>
        Create recipe
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th></th>
        <th>
          User
        </th>

        <th>
          Recipe Name
        </th>

        <th>
          Details
        </th>

        <th>
          Food categories
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>
        <td>
          <img src="<%= a_recipe.photo %>" width="200" height="270">
        </td>
        <td>
          <%= a_recipe.user.user_name %>
        </td>

        <td>
          <%= a_recipe.name %>
        </td>

        <td>
          <%= a_recipe.details %>
        </td>

        <td>
          <%= a_recipe.food_categories %>
        </td>

        <td>
          <%= time_ago_in_words(a_recipe.created_at) %> ago
        </td>

        <td>
          <a href="/recipes/<%= a_recipe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
